pre.code-block {
  margin: initial;
}

html, body, #root, .ant-layout {
	height: 100%;
}

.ant-layout-header {
	padding-inline: 20px;
}

.ant-layout-header > h1 {
	margin-top: unset;
	margin-bottom: unset;
}

.ant-layout-content {
	padding: 20px;
}

.error-log-modal .error-log-table,
.error-log-modal .ant-modal-confirm-content {
	width: 100%;
}
